@font-face {
  font-family: Cozette;
  src: url(CozetteVector.ttf);
}

body {
  font-family: Cozette;
}

button {
  font-family: Cozette;
}

.head {
  display: flex;
  align-items: center;
}

.dog {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 72px;
  padding: 30px 30px 0px 30px;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 48px;
  font-weight: bold;
  padding: 0px 30px 0px 30px;
  margin-bottom: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.buttons-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-container {
  display: grid;
  grid-template-columns: 3fr fit-content(20%);
  border: solid 3px;
  border-radius: 10px;
  box-shadow: 10px 10px #121212;
}

.summary-img {
  margin: auto auto auto auto;
  display: none;
  width: 300px;
}

.summary-body {
  padding: 50px;
}

.summary-title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
}

.summary-text {
  font-size: 20px;
}

.select-character {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  width: 100px;
  height: 70px;
  display: none;
}

button {
  border: solid 3px;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  margin: 10px 20px 10px 20px;
  transition: all 0.3s ease;
  box-shadow: 7px 7px #121212;
  font-size: 28px;
  width: 300px;
  height: 70px;
}

button:hover {
  background-color: #121212;
  color: aliceblue;
  border: solid #121212;
  font-size: 25px;
}
