@font-face {
  font-family: Cozette;
  src: url(../CozetteVector.ttf);
}

body {
  font-family: Cozette;
}

.title {
  font-size: 72px;
  padding: 30px 30px 0px 30px;
  margin-bottom: 0px;
  background: rgb(238,149,158);
  background: linear-gradient(180deg, rgba(238,149,158,1) 0%, rgba(255,255,255,1) 90%);
}

.section-header {
  font-size: 30px;
  padding-left: 400px;
}

.carousel {
  overflow: hidden;
}

.container {
  padding-left: 400px;
}
