@font-face {
  font-family: Cozette;
  src: url(../CozetteVector.ttf);
}

body {
  font-family: Cozette;
}

:root {
  --black: #121212;
  --pink: #ee959e;
  --blue: dodgerblue;
  --green: greenyellow;
}

.profile-title {
  font-size: 72px;
  font-weight: bold;
  color: black;
  padding: 10px 30px 0px 30px;
  margin-bottom: 0px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-bottom: solid 5px;
}

.flexbox-horizontal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sprite {
  height: 350px;
  width: 350px;
}

.abouts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  border: solid 5px black;
  border-radius: 20px;
  box-shadow: 12px 12px #555555;
}

.abouts-header {
  font-size: 1.4rem;
  text-decoration: underline;
}

.abouts-content {
  font-size: 1rem;
  margin: 10px 30px 20px 30px;
}

.projects-container {
  display: block;
  flex-direction: column;
  width: 750px;
  padding: 20px;
  border: solid 5px black;
  border-radius: 20px;
  box-shadow: 12px 12px #555555;
}

.projects-header {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.carousel {
  overflow: hidden;
}

button {
  font-family: Cozette;
  background-color: var(--pink);
  border: solid 3px;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
  margin: 10px 20px 10px 0px;
  transition: all 0.3s ease;
  box-shadow: 7px 7px var(--black);
  font-size: 28px;
  width: 300px;
  height: 70px;
}

button:hover {
  background-color: var(--black);
  color: white;
  border: solid var(--black);
  font-size: 25px;
}

button:active {
  box-shadow: 0px 0px var(--pink);
  transform: translateX(7px) translateY(7px);
}